* {
    box-sizing: border-box;
    /**border:1px solid red;**/
}

body {
    font-family: 'Kadwa', serif;

    margin: 0;
    padding: 0;
    background-color: #ECE3CE;
}

h2,
h3 {
    color: #4F6F52;
}

footer {
    padding: 20px;
    color: white;
    background-color: #3A4D39;
    text-align: center;
    font-weight: bold;
}

.profile header {
    text-align: center;
}

.feature-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.profile img {
    width: 200px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    height: fit-content;
}

#etimologi p {
    text-align: justify;
}

#geografis p {
    text-align: justify;
}

#sejarah figure {
    text-align: center;
}

#sejarah p {
    text-align: justify;
}

#wisata figure {
    text-align: center;
}

#geografis figure{
    text-align: center;
}

#wisata figure{
    text-align: center;
}

figure img{
    width: 500px;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.quoteLeft {
    width: 20px;
    vertical-align: top;
    color: #4F6F52;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
    line-height: .6em;
    text-align: left;
    padding: 10px 10px; 
}

.quoteRight {
    width: 20px;
    vertical-align: bottom;
    color: #4F6F52;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
    line-height: .6em;
    text-align: right;
    padding: 10px 10px; 
}


.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #3A4D39;
    text-align: center;
    color: white;
}

header {
    display: inline;
}

.topnav {
    background-color: #4F6F52;
    overflow: hidden;
    position: sticky;
    top: 0;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    background-color: #ECE3CE;
    color: #4F6F52;
    font-weight: bold;
}

.topnav .icon {
    display: none;
}

main {
    padding: 20px;
    overflow: auto;
    display: flex;
    gap: 1.5rem;
}

#content {
    flex: 5;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

aside {
    flex: 1;
}

.info {
    text-align: center;
}

.info tr {
    text-align: justify;
}

footer {
    padding: 20px;
    color: white;
    background-color: #3A4D39;
    font-size: medium;
    text-align: center;
    font-weight: 700;
}

@media screen and (max-width: 1000px) {

    aside,
    #content {
        width: 100%;
        padding: 0;
    }

    figure img {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    main {
        flex-flow: column nowrap;
    }

    main aside {
        align-self: center;
    }
}


@media screen and (max-width: 768px) {
    .topnav a {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    main aside {
        align-self: stretch;
    }
}

@media screen and (max-width: 768px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    main aside {
        align-self: stretch;
    }
}
